* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}

/* =====header===== */
.header {
  margin: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container button {
  border-radius: 9999px;
  width: 120px;
  background-color: white;
  border: 2px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px;
}

.container button:hover {
  background-color: hsl(323, 57%, 97%);
}

@media screen and (max-width: 768px) {
  .header {
    margin: 30px;
  }

  .container button {
    width: 85px;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
  }

  .header .container img {
    width: 100px;
  }
}

/* =====section1===== */
.section1 {
  margin: 150px;
}

.section1 .container {
  display: block;
  text-align: center;
}

.container .text h1 {
  font-family: "Poppins";
  font-size: 40px;
}

.container .text p {
  font-size: 16px;
  width: 500px;
  margin: 30px auto;
  color: #333;
  font-weight: 600;
  line-height: 1.8;
}

.container .text button {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  width: 300px;
  padding: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.container .text button:hover {
  background-color: hsl(321, 100%, 78%);
}

.section1 .container img {
  margin-top: 100px;
  width: 85%;
}

@media screen and (max-width: 786px) {
  .section1 {
    margin: 30px;
  }

  .container .text h1 {
    margin-top: 50px;
    font-size: 25px;
  }

  .container .text p {
    font-size: 14px;
    width: 310px;
  }

  .container .text button {
    width: 250px;
    padding: 15px;
    font-size: 12px;
    margin: 10px;
  }
}

/* =====section2===== */
.section2 {
  margin: 50px 260px;
}

.col .text2 {
  text-align: center;
}

.col .text2 h1 {
  font-size: 90px;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

.col span {
  font-size: 25px;
  color: rgb(167, 165, 165);
}

@media screen and (max-width: 768px) {
  .section2 {
    margin: 90px;
  }

  .section2 .container {
    display: block;
    align-items: center;
  }

  .col {
    margin: 85px 0;
  }

  .col .text2 h1 {
    font-size: 60px;
  }

  .col span {
    font-size: 16px;
    color: rgb(167, 165, 165);
  }

  .col img {
    width: 30px;
  }
}

/* =====section3==== */

.section3 .top1 {
  width: 100%;
  height: 20vh;
  background-image: url("../images/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
}

.section3 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(207, 100%, 98%);
  padding: 70px 100px;
}

.container .image {
  width: 100%;
  text-align: center;
}

.container .text3 h2 {
  font-family: "Poppins";
  font-size: 35px;
}

.container p {
  font-size: 15px;
  padding: 20px 0;
  font-weight: 600;
  width: 90%;
  color: #777;
}

.section3 .bottom1 {
  width: 100%;
  height: 20vh;
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .section3 {
    margin-top: -150px;
  }

  .section3 .top1 {
    height: 15vh;
    background-image: url("../images/bg-section-top-mobile-1.svg");
  }

  .section3 .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    text-align: center;
  }

  .container .image {
    grid-row: 1;
  }

  .container .image img {
    width: 100%;
  }

  .container .text3 h2 {
    padding-top: 30px;
    font-size: 20px;
  }

  .container p {
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
  }

  .section3 .bottom1 {
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
  }
}

/* ====section4==== */

.section4 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 150px 100px;
}

.section4 .container .image {
  text-align: start;
}

.container .text4 h2 {
  font-family: "Poppins";
  font-size: 35px;
}

.container .text4 {
  margin-left: 60px;
}

.text4 p {
  font-size: 15px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section4 .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px;
    text-align: center;
  }

  .container .text4 h2 {
    font-size: 20px;
  }

  .container .text4 {
    margin-top: 50px;
    margin-left: 0;
  }

  .text4 p {
    font-size: 15px;
    width: 100%;
  }
}

/* section3 num2 */
.section5 .top2 {
  width: 100%;
  height: 20vh;
  background-image: url("../images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat;
}

.section5 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(207, 100%, 98%);
  padding: 70px 100px;
}

.container .image {
  width: 100%;
  text-align: center;
}

.container .text5 h2 {
  font-family: "Poppins";
  font-size: 35px;
}

.section5 .bottom2 {
  width: 100%;
  height: 25vh;
  background-image: url("../images/bg-section-bottom-desktop-2.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .section5 {
    margin-top: 20px;
  }

  .section5 .top2 {
    height: 14vh;
    background-image: url("../images/bg-section-top-mobile-2.svg");
  }

  .section5 .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    text-align: center;
  }

  .container .image {
    grid-row: 1;
  }

  .container .image img {
    width: 100%;
  }

  .container .text5 h2 {
    padding-top: 30px;
    font-size: 20px;
  }

  .container p {
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
  }

  .section5 .bottom2 {
    background-image: url("../images/bg-section-bottom-mobile-2.svg");
  }
}

/* ====section6==== */
.section6 .container {
  display: block;
  text-align: center;
  background-color: white;
  margin: 130px 0;
}

.container h1 {
  font-family: "Poppins";
  font-size: 40px;
  margin-bottom: 20px;
}

.section6 .footer-top {
  width: 100%;
  height:25vh;
  background-image: url("../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
}
@media  (min-width:1440px){
  .section6 .footer-top {
    height:20vh;
}
} 


@media screen and (max-width: 768px) {
  .section6 .container {
    margin: 40px 0 150px 0;
  }

  .section6 .footer-top {
    width: 100%;
    height: 7vh;
    background-image: url("../images/bg-footer-top-mobile.svg");
    background-repeat: no-repeat;
  }
}

/* ====footer===== */
.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 100px;
  align-items: center;
}

svg path {
  fill: white;
}

.rightcol {
  padding-top: 100px;
}

.rightcol p {
  width: 60%;
  font-size: 14px;
  color: #ddd;
}

ul {
  align-items: center;
  color: #ddd;
  margin-bottom: 15px;
}

li span {
  margin-left: 15px;
}

li img {
  margin-top: 10px;
}

.icons {
  margin-top: 30px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 30px;
}

.icons i:hover {
  color: hsl(210, 78%, 63%);
}

.leftcol {
  text-align: start;
  margin-left: 100px;
}

.leftcol h1 {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.leftcol p {
  width: 60%;
  font-size: 14px;
  color: #ddd;
  padding-top: 0px;
  margin-top: 0;
}

span input {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 15px;
  color: black;
}

span input:focus {
  outline: none;
}

.leftcol button {
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  width: 150px;
  margin-left: 20px;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.leftcol button:hover {
  background-color: hsl(321, 100%, 78%);
}

@media screen and (max-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 30px;
    text-align: start;
  }

  .rightcol {
    margin-top: 10px;
  }

  .rightcol p {
    width: 100%;
    font-size: 14px;
    color: #ddd;
    margin: 15px 0;
  }

  li img {
    margin-top: 10px;
  }

  .container img {
    width: 15px;
  }

  .icons {
    width: 35%;
  }

  .icons i {
    font-size: 25px;
  }

  .leftcol {
    grid-row: 1;
    text-align: start;
    margin-left: 0;
  }

  .leftcol h1 {
    font-size: 25px;
  }

  .leftcol p {
    width: 100%;
  }

  span input {
    width: 90%;
    margin: 20px 0;
  }

  .leftcol button {
    margin-left: 145px;
  }
}
